# Final Project

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [14]:
paths = list(Path("Smart Building").rglob("*.*"))

co2_paths = [path for path in paths if path.name == 'co2.csv']
humidity_paths = [path for path in paths if path.name == 'humidity.csv']
temperature_paths = [path for path in paths if path.name == 'temperature.csv']
light_paths = [path for path in paths if path.name == 'light.csv']
pir_paths = [path for path in paths if path.name == 'pir.csv']

In [15]:
dataset = []
for light_path, temperature_path, co2_path, pir_path, humidity_path in zip(light_paths, temperature_paths, co2_paths, pir_paths, humidity_paths):
    light_df = pd.read_csv(light_path, names=['unix_time', 'light'], index_col='unix_time')
    temperature_df = pd.read_csv(temperature_path, names=['unix_time', 'temperature'], index_col='unix_time')
    co2_df = pd.read_csv(co2_path, names=['unix_time', 'co2'], index_col='unix_time')
    humidity_df = pd.read_csv(humidity_path, names=['unix_time', 'humidity'], index_col='unix_time')
    pir_df = pd.read_csv(pir_path, names=['unix_time', 'pir'], index_col='unix_time')
    
    df = pd.concat([light_df, temperature_df, co2_df, pir_df, humidity_df], axis=1)
    df['room'] = light_path.parent.name
    dataset.append(df)
data = pd.concat(dataset)

data.head()

            light  temperature    co2  pir  humidity room
unix_time
1377299107   97.0        23.93  488.0  NaN     45.34  413
1377299108   97.0        23.94  495.0  0.0     45.34  413
1377299126   97.0        23.93    NaN  0.0     45.34  413
1377299131   97.0        23.93    NaN  NaN     45.31  413
1377299136   97.0        23.92    NaN  NaN     45.34  413

In [16]:
print("Percentage of data missing")
data.isnull().sum().sort_values(ascending = False)/len(data)*100

Percentage of data missing

pir            75.010129
light          54.306578
humidity       54.306564
temperature    54.306286
co2            54.288882
room            0.000000
dtype: float64

In [17]:
data = data.dropna()
data.head(10)

            light  temperature    co2  pir  humidity room
unix_time
1377299108   97.0        23.94  495.0  0.0     45.34  413
1377457084  103.0        23.48  459.0  0.0     52.75  413
1377457963  104.0        23.50  456.0  0.0     52.71  413
1377462175  105.0        23.54  446.0  0.0     52.43  413
1377464765  111.0        23.56  463.0  0.0     52.30  413
1377467333  159.0        23.65  458.0  0.0     52.21  413
1377470795  162.0        23.93  473.0  0.0     51.76  413
1377475133  182.0        24.36  455.0  0.0     50.83  413
1377478615  225.0        24.75  456.0  0.0     49.87  413
1377481225  247.0        25.21  458.0  0.0     48.45  413

In [18]:
data.shape

(135386, 6)

In [19]:
print("Percentage of data missing")
data.isnull().sum().sort_values(ascending = False)/len(data)*100

Percentage of data missing

light          0.0
temperature    0.0
co2            0.0
pir            0.0
humidity       0.0
room           0.0
dtype: float64

In [30]:
data["pir"] = data["pir"].apply(lambda x: 0 if x == 0 else 1)

data["pir"].describe()

count    135386.000000
mean          0.067193
std           0.250357
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: pir, dtype: float64

In [38]:
from collections import Counter


def detectOutliers(data, n, features):
    outlier_rows = []
    for col in features:
        Q1 = np.percentile(data[col], 25)
        Q3 = np.percentile(data[col], 75)
        IQR = Q3 - Q1
        outlierStep = IQR * 1.5
        outlierList = data[(data[col] < Q1 - outlierStep ) | (data[col] > Q3 + outlierStep)].index
        outlier_rows.extend(outlierList)
    # Counts the frequency of occurrences of each row index
    outlier_rows = Counter(outlier_rows)
    multiple_outliers = list(key for key, value in outlier_rows.items() if value > n)
    return multiple_outliers

outliers_to_drop = detectOutliers(data, 5, ["temperature", "light", "humidity", "co2"])
print("these rows will be dropped due to their outlier values: {} ".format(outliers_to_drop))

these rows will be dropped due to their outlier values: [1377565933, 1377566749, 1377569232, 1377570100, 1377570980, 1377571831, 1377825332, 1377826051, 1377826790, 1377828271, 1377829722, 1377907298, 1377908778, 1377911741, 1377912482, 1377914707, 1377468186, 1377476867, 1377549110, 1377792765, 1377792784, 1377793026, 1377819493, 1377882264, 1377894165, 1377938996, 1377941956, 1377565101, 1377446023, 1377457084, 1377457963, 1377466494, 1377467333, 1377470795, 1377472562, 1377474292, 1377475133, 1377478615, 1377481225, 1377517891, 1377598134, 1377602415, 1377603263, 1377605765, 1377940477, 1377942706, 1377944234, 1377944985, 1377946426, 1377947146, 1377948619, 1377949374, 1377950096, 1377952225, 1377952964, 1377955245, 1377955947, 1377956605, 1377958033, 1377958773, 1377961742, 1377962473, 1377963195, 1377964586, 1377965997, 1377967463, 1377970451, 1377479518, 1377480371, 1377482891, 1377564289, 1377568425, 1377822463, 1377908023, 1377910263, 1377910985, 1377913194, 1377913916, 1377462175, 1377463039, 1377465620, 1377531671, 1377533394, 1377534257, 1377535974, 1377537695, 1377538570, 1377542369, 1377543181, 1377543974, 1377544774, 1377549968, 1377554286, 1377558445, 1377561802, 1377567607, 1377613765, 1377615453, 1377616290, 1377619607, 1377620464, 1377620794, 1377621336, 1377622236, 1377622741, 1377623983, 1377624837, 1377625703, 1377626528, 1377645782, 1377782723, 1377789313, 1377792716, 1377792740, 1377792745, 1377792805, 1377792821, 1377792832, 1377792852, 1377792911, 1377792927, 1377792948, 1377793001, 1377793048, 1377793065, 1377793084, 1377793098, 1377793109, 1377793127, 1377793163, 1377793232, 1377793257, 1377793286, 1377793304, 1377793331, 1377793336, 1377793359, 1377793376, 1377793399, 1377793411, 1377793429, 1377793467, 1377793481, 1377793497, 1377793511, 1377793522, 1377793532, 1377793567, 1377793584, 1377793629, 1377798137, 1377799642, 1377801142, 1377803335, 1377807731, 1377812921, 1377813651, 1377816607, 1377818040, 1377820950, 1377821707, 1377872499, 1377876824, 1377878390, 1377885274, 1377887445, 1377890430, 1377891940, 1377894929, 1377897128, 1377899974, 1377901391, 1377903654, 1377904374, 1377608925, 1377609758, 1377612935, 1377617916, 1377968205, 1377971180, 1377972650, 1377812187, 1377804827, 1377805464, 1377805484, 1377806312, 1377809935, 1377815892, 1377824624, 1377892689, 1377893429, 1377896418, 1377898553, 1377905829, 1377299126, 1377299130, 1377464765, 1377469057, 1377469916, 1377471668, 1377473427, 1377551732, 1377553426, 1377555131, 1377556826, 1377560106, 1377560218, 1377560941, 1377815173, 1377888938, 1377889699, 1377895710, 1377973409, 1377899258, 1377905102, 1377376386, 1377547386, 1377562652, 1377614630, 1377614719, 1377900675, 1377527505, 1377530794, 1377604931, 1377608070, 1377611380, 1377623111, 1377875264, 1377563476, 1377827527, 1377902920, 1377446852, 1377532539, 1377536825, 1377539437, 1377548228, 1377550860, 1377552561, 1377555988, 1377557649, 1377559251, 1377618767, 1377792710, 1377792798, 1377792869, 1377792883, 1377793040, 1377793090, 1377793347, 1377793452, 1377793460, 1377793562, 1377809162, 1377811453, 1377876042, 1377879169, 1377884516, 1377886742, 1377895229, 1377888183, 1377891185, 1377897835, 1377541420, 1377546454, 1377823901, 1377881529, 1377882998, 1377535130, 1377545586, 1377792965, 1377880747, 1377886024, 1377965288, 1377540469, 1377817328, 1377906563, 1377461330, 1377960968, 1377802579]

In [39]:
print("Before removing the outliers we have {} rows".format(len(data)))
data = data.drop(outliers_to_drop, axis=0).reset_index(drop=True)
print("After removing the outliers we have {} rows".format(len(data)))

Before removing the outliers we have 135386 rows
After removing the outliers we have 128262 rows

In [27]:
import datetime


datetime = datetime.datetime.fromtimestamp(1377299108)
datetime

datetime.datetime(2013, 8, 24, 1, 5, 8)